{% extends 'base.html' %} {% load static %} {% block title %}Contact
Us{%endblock title %} {% block content %}
<section
  class="breadcrumb-section set-bg"
  data-setbg=""
  style="background-image: url('app/img/breadcrumb.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Contact Us</h2>
          <div class="breadcrumb__option">
            <a href="{% url 'home' %}">Home</a>
            <span>Contact Us</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container my-3">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 text-center">
      <div class="contact__widget">
        <span class="icon_phone"></span>
        <h4>Phone</h4>
        <p>+92-303-5585081</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 text-center">
      <div class="contact__widget">
        <span class="icon_pin_alt"></span>
        <h4>Address</h4>
        <p>Johor Town, Lahore, Pakistan</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 text-center">
      <div class="contact__widget">
        <span class="icon_clock_alt"></span>
        <h4>Open time</h4>
        <p>10:00 am to 23:00 pm</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 text-center">
      <div class="contact__widget">
        <span class="icon_mail_alt"></span>
        <h4>Email</h4>
        <p>abc@pineapple.com</p>
      </div>
    </div>
  </div>

  <div class="my-5">
    <div class="col-lg-3 col-md-3 col-sm-6" style="float: left;">
      <form action="" method="post">
        {% csrf_token %} Email: <input type="email" name="email" required />
        <br />
        Phone Number: <input type="phone" name="phone" required />
        <br />
        Address: <textarea name="address" id="" cols="25" rows="6"></textarea>
        <br />
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </div>

    <div class="col-lg-5" style="float: right;">
      <table>
        <thead>
          <tr>
            <th>SR#</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          {% for contact in contacts %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.phone}}</td>
            <td>{{contact.address}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
